@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");

:root {
  --base04: black;
  --base03: #282a36;
  --base02: #44475a;
  --base01: grey;
  --base0: white;
  --red: #ff5555;
  --green: #50fa7b;
  --yellow: #f1fa8c;
  --blue: blue;
  --magenta: #ff79c6;
  --cyan: #8be9fd;
  --orange: #ffb86c;
  --purple: #bd93f9;
}

* {
  margin: 0;
}
/* header / nav stuff */

/* nav stuff */

header {
  position: fixed;
  background: var(--base04);
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  border-bottom: 4px solid var(--green);
}

/* flex stuff */

.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  margin: 0;
}

nav {
  padding: 0px 10px;
}

.logo img {
  max-height: 100px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px 1px;
  box-sizing: border-box;
}

nav ul li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--green);
}

.cart-icon {
  color: white;
}
/*MEDIA QUERY*/
@media only screen and (max-width: 768px) {
  header {
    position: absolute;
    border-bottom: 4px solid var(--red);
  }
  a,
  a:active,
  a:visited {
    color: white;
  }

  nav ul,
  nav:active ul {
    display: none;
    position: absolute;
    background: #fff;
    right: 0;
    border: 5px solid #000;
    width: 100%;
  }

  /*This makes sure the nav menu opens up */
  nav:hover ul {
    display: block;
  }
}

/* body stuff */

body {
  padding: 0 0 100px;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3d3d3d;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--purple);
}

/*CSS styles for mobile*/
@media only screen and (max-width: 480px) {
  .boxes {
    width: 100%;
    height: 200px;
    background-color: var(--red);
    text-align: center;
    color: white;
  }
}

.hero h1 {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  color: white;
  background-color: var(--base03);
}
.hero img {
  max-width: 100%;
}

span.search-box {
  align-items: center;
}

input {
  height: 30px;
  padding: 0px;
}

button {
  height: 35px;
  width: 35px;
  background-color: var(--purple);
  color: white;
  padding: 0;
}

footer {
  display: flex;
  font-family: "Roboto", sans-serif;
  position: fixed;
  background: var(--base04);
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 40px;
  border-top: 4px solid var(--green);
  color: white;
}

.footer-flex {
  justify-content: center;
}

.rotate:active {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
