<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <div th:replace="/fragments/styling :: head-style" ></div>

    <title>Title</title>
</head>
<body>
<!--NAVBAR-->
<div th:replace="fragments/navbar :: navbar" ></div>

<div class="container">



<h1> Blog post here</h1>



    <div class="row">
        <div th:each="blog:${posts}">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 th:text="${blog.title}"/>
                    </div>
                    <div class="panel-body">
                        <p th:text="${blog.author}"/>
                        <p th:text="${blog.blogEntry}" />
                    </div>
                    <div class="panel-footer">
                        <!-- Link to Update -->


                        <!-- Link to Show  -->


                        <div class="card-footer">
                            <!-- Link to Update -->
                            <a href="#" th:href="@{blogposts/{id}(id=${blog.id})}">
                                <button class="btn btn-light">Edit Post</button>
                            </a>
                            <!--  Link to Destroy -->
                            <a href="#" th:href="@{blogposts/delete/{id}(id=${blog.id})}">
                                <button class="btn btn-danger" type="submit">Delete Post</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<div th:replace="/fragments/styling :: body-links" ></div>
</body>
</html>